@model EDergi.Application.DTOs.MagazineCreateDto

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-8">
            <h2>@Model.Title</h2>
            <p>@Model.Description</p>
            <ul>
                <li><b>ISSN:</b> @Model.ISSN</li>
                <li><b>Başlangıç Tarihi:</b> @Model.StartDate.ToShortDateString()</li>
                <li><b>Dönem:</b> @Model.Period</li>
                <li><b>Amaç:</b> @Model.Purpose</li>
                <li><b>Kapsam:</b> @Model.Scope</li>
            </ul>
        </div>
    </div>
</div>
